# cache
*.pyc

# sensitive files
.env
data/secrets/*

# Proprietary code
constants/prompts/transaction_tagging_prompt.py
data/tagging/categories_mapping.json
utils/text_processing/predict_transactions_tags.py